p{
    margin-top: 150px;
    margin-bottom: 150px;
}



.ff {
    font-size: 400px;
    color: black;
    /* color: white; */
    opacity: 80%;
}


body{
    margin-top: 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}


body {
    /* background-image: url(./pic/photo-1593062096033-9a26b09da705.jpg); */
}

body {
    /* background-image: url(./pic/wp10222903-hackers-quotes-wallpapers.jpg); */
}

body {
    /* background-image: url(./pic/wp5345476-hacker-screen-wallpapers.jpg); */
}

body {
    /* background-image: url(./pic/wp5869598-hacker-screen-wallpapers.jpg); */
}

body {
    background-image: url(./pic/wp8411156-coffee-laptop-wallpapers.jpg);
}

body {
    /* background-image: url(./pic/god.jpg); */
}